<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>

    <style>
        body{
            height: 100vh;
            background-color: pink;
        }
        .main{
            background-color: black;
            color: white;
            font-size: 50px;
            padding: 20px;

            display: flex;
            justify-content: space-between;
        }
        a{
            color: wheat;
            text-decoration: none;
        }
    </style>

    <link rel="stylesheet" href="index.css">

</head>
<body>

    {{!-- partial --}}
    {{>header}}
    
    <h1>HIIIIIIIIIIIiiiiiiiiiiiiiiii @index.hbs@</h1>

</body>
</html>